
.navigationPart {
    width:100%;
    background-color:#e2a5a4;
    display:flex;
    justify-content: center;
}
 h1 {
    font-family: 'Manrope', sans-serif;
 }
.wrapperOfImages {
    position:relative;
}
.firstTout {
    width:100%;
    justify-content: center;
    display:flex;
}


@media only screen and (max-width: 767px) {
    ul {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        letter-spacing: 2px;
        color: #5a5656;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        margin-left: -10vw;
    }
    h1 {
        font-size:5vw;

    }
    .firstTout {
        display:flex;
        justify-content: center;
        flex-direction:Column;
        align-items: center;
        width:100%;
        
    }
    .row1 {
        display:flex;
        width:100%;
        margin-top:6vw;
    }
    .imageWrapper1 {
        overflow: hidden;
        max-height: 49vw;
    }
    .image1 {
        width: 97vw;
    }
    p.titleOfPic {
        font-family: 'Homemade Apple', cursive;
        font-size: 4vw;
        top: 10vw;
        left: 7vw;
        width: 48vw;
        transform: rotate(-7deg);
        position: absolute;
        line-height: 6vw;
    }
    
}


@media only screen and (min-width: 768px) {
    ul {
        display:flex;
        width:70%;
        display:flex;
        justify-content: space-around;
        list-style: none;
        letter-spacing:2px;
        color:#5a5656;
        text-transform:uppercase;
        font-family: 'Manrope', sans-serif;
     }
    .row1 {
        display:flex;
        width:100%;
        margin-top:4vw;
    }
    .imageWrapper1 {
        max-width:71vw;
        overflow:hidden;
        max-height:34vw;
    }
    .image1 {
        width: 72vw;
    }
    p.titleOfPic {
        font-family: 'Homemade Apple', cursive;
        font-size: 3vw;
        top: 6vw;
        left: 6vw;
        width: 28vw;
        transform: rotate(-7deg);
        position: absolute;
        line-height: 3vw;
    }
    
}


/*font-family: 'Manrope', sans-serif;
font-family: 'Homemade Apple', cursive;*/