body {
    margin:0;
}
.navigationPart {
    width:100%;
    background-color: #ddb094;
    display:flex;
    justify-content: center;
    align-items: center;
}
 h1,h2 {
    font-family: 'Manrope', sans-serif;
 }
.wrapperOfImages {
    position:relative;
}
.firstTout {
    width:100%;
    justify-content: center;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footerWrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    .navigationPart {
        height: 16vw;
    }
    .activeLink {
        opacity:.5;
        color:#5a5656;
    }
    a.nonActiveLink {
        text-decoration:none;
        color:#5a5656;
    }
    ul {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-size:4vw;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        margin-left: -10vw;
    }
    h1,h2 {
        font-size:5vw;

    }
    .firstTout {
        width: 60%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        height:100vw;
    }
    .firstTout#second {
        height:123vw;
    }
    .row1 {
        display:flex;
        width:100%;
    }
    .imageWrapper1 {
        overflow: hidden;
        max-height: 56vw;
        width:100%;
    }
    .image1 {
        width:113vw;
    }
    p.titleOfPic {
        font-family: 'Homemade Apple', cursive;
        font-size: 3vw;
        top: 10vw;
        left: 11vw;
        width: 35vw;
        transform: rotate(-7deg);
        position: absolute;
        line-height: 6vw;
    }
    p.quickIntro {
        font-family: 'Manrope', sans-serif;
        font-size: 3.5vw;
        line-height:3.8vw;
    }
    h3 {
        font-family: 'Manrope', sans-serif;
        font-size: 3vw;
    }
    .secondTout {
        width: 100%;
        display: flex;
        height: 50vw;
        color:#fff;
    }
    .half1 {
        background-color: #dab29e;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .half1#grey {
        background-color: #a89f96;
    }
    .full1 {
        background-color: #cfb99c;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    
    .half2 {
        background-color: #b28b71;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .half2#brown {
        background-color: #361f10;
    }
    .full2 {
        background-color: #b8512f;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    footer {
        height:12vw;
    }
    .hiddenCopy {
        display:none;
    }
    h3:active + .hiddenCopy {
        display:block;
        font-size: 2.5vw;
        width: 33vw;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
    }
    h3:hover + .hiddenCopy {
        display:block;
        font-size: 2.5vw;
        width: 33vw;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
    }
}


@media only screen and (min-width: 768px) {
    .navigationPart {
        height: 8vw;
    }
    .activeLink {
        opacity:.5;
        color:#5a5656;
    }
    a.nonActiveLink {
        text-decoration:none;
        color:#5a5656;
    }
    h1,h2 {
        font-size:2.3vw;

    }
    .firstTout {
        width: 50%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        height:30vw;
    }
    .firstTout#second {
        height:35vw;
    }
    ul {
        display:flex;
        width:70%;
        display:flex;
        justify-content: space-around;
        list-style: none;
        letter-spacing:2px;
        text-transform:uppercase;
        font-family: 'Manrope', sans-serif;
        color:#fff;
     }
    .row1 {
        display:flex;
        width:100%;
    }
    .imageWrapper1 {
        max-width:100%;
        overflow:hidden;
        max-height:49vw;
    }
    .image1 {
        width: 104vw;
    }
    p.titleOfPic {
        font-family: 'Homemade Apple', cursive;
        font-size: 3vw;
        top: 10vw;
        left: -2vw;
        width: 38vw;
        transform: rotate(-7deg);
        position: absolute;
        line-height: 5vw;
        text-align: right;    
    }
    p.quickIntro {
        font-family: 'Manrope', sans-serif;
        font-size: 1.3vw;
        line-height:1.6vw;
    }
    h3 {
        font-family: 'Manrope', sans-serif;
        font-size: 1.3vw;
    }
    .secondTout {
        width: 100%;
        display: flex;
        height: 20vw;
        color:#fff;
    }
    .half1 {
        background-color: #dab29e;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:Column;
    }
    .half1#grey {
        background-color: #a89f96;
    }
    .full1 {
        background-color: #cfb99c;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:Column;
    }
    
    .half2 {
        background-color: #b28b71;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .half2#brown {
        background-color: #361f10;
    }
    .full2 {
        background-color: #b8512f;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .hiddenCopy {
        display:none;
    }
    h3:active + .hiddenCopy {
        display:block;
        font-size: 1.5vw;
        width: 24vw;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
    }
    h3:hover + .hiddenCopy {
        display:block;
        font-size: 1.5vw;
        width: 24vw;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
    }
    footer {
        height:6vw;
    }
}

/*
@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone  }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) { /* hi-res laptops and desktops  }
*/
/*font-family: 'Manrope', sans-serif;
font-family: 'Homemade Apple', cursive;*/