body {
    margin:0;
}
.navigationPart {
    width: 100%;
    background-color: #ddb094;
    display: flex;
    justify-content: center;
    align-items: center;
}
 h1 {
    font-family: 'Manrope', sans-serif;
 }

.firstTout {
    width:100%;
    justify-content: center;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footerWrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    .activeLink {
        opacity:.5;
        color:#5a5656;
    }
    a.nonActiveLink {
        text-decoration:none;
        color:#5a5656;
    }
    ul {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        letter-spacing: 2px;
        color: #5a5656;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        margin-left: -10vw;
    }
    h1 {
        font-size:5vw;

    }
    .firstTout {
        display:flex;
        justify-content: center;
        flex-direction:Column;
        align-items: center;
        width:100%;

    }
    .row1 {
        display:flex;
        width:100%;
        margin-top:6vw;
    }
    .imageWrapper1 {
        overflow: hidden;
        max-height: 56vw;
        width:100%;
    }
    .wrapperOfImages {
        position:absolute;
        bottom:0;
        width:100%;
        display:flex;
        justify-content: center;
    }
    .icon1:hover {
        opacity:.5;
    }
    .icon1#linkedIn {
        width:4vw;
    }
    .icon1#email {
        width:4vw;
    }
    .icon1#gitHub {
        width:4vw;
    }
    
}


@media only screen and (min-width: 768px) {
    .activeLink {
        opacity:.5;
        color:#5a5656;
    }
    a.nonActiveLink {
        text-decoration:none;
        color:#5a5656;
    }
    ul {
        display:flex;
        width:70%;
        display:flex;
        justify-content: space-around;
        list-style: none;
        letter-spacing:2px;
        text-transform:uppercase;
        font-family: 'Manrope', sans-serif;
     }
    .row1 {
        display:flex;
        width:100%;
        margin-top:4vw;
    }
    .wrapperOfImages {
        position:absolute;
        bottom:0;
        width:100%;
        display:flex;
        justify-content: center;
    }
    .icon1:hover {
        opacity:.5;
    }
    .icon1#linkedIn {
        width:4vw;
    }
    .icon1#email {
        width:4vw;
    }
    .icon1#gitHub {
        width:4vw;
    }
    
}


/*font-family: 'Manrope', sans-serif;
font-family: 'Homemade Apple', cursive;*/